#divgran2{
display: flex;
align-items: center;
flex-direction: column;
margin: 20px;
padding: 10px;
background-color: rgb(143, 141, 139);
height: 100%;    
}

#bton2{
display: flex;
margin: 50px;
align-items: center;
flex-direction: column;
}