#divgran2{
    width: 400px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    color: azure;
    text-align: center;
}

#bton2{
display: flex;
margin: 50px;
align-items: center;
flex-direction: column;
}